# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env

# virtual environments
venv/
.venv/
env/
ENV/
mlruns/
submissions/team-members/patrick-githendu/mlruns/
submissions/team-members/patrick-githendu/.venv/
submissions/team-members/patrick-githendu/tuner_dir/
submissions/team-members/patrick-githendu/column_3C_weka.csv
submissions/team-members/patrick-githendu/column_2C_weka.csv